:root {
  --color-green-10: #53d336;
  --color-green-20: #43b929;
  --color-green-30: #379721;
}
/* Modal */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 1.1s ease-in;
  z-index: 1;
}
.modal {
  display: inline-flex;
  flex-wrap: nowrap;
  border-radius: 1em;
  background-color: white;
  height: 18em;
  width: 37.5em;
  overflow: hidden;

  animation: modalIn .8s forwards;
}
.modal__figure {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-green-20);
  height: 100%;
  width: 50%;
  clip-path: circle(18em at left center);
}
.modal__title {
  margin: 0 1em;
  color: white;
  font-size: 2em;
}
.modal__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal__text {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1em;
  margin: 0;
  overflow: auto;
  height: 50%;
}
.modal__actions {
  margin: auto;
}
.overlay.deactivate{
    opacity: 0;
    visibility: hidden;
}
@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
}
@keyframes modalOut {
  0% {
   opacity: .1;
  }
  60% {
    opacity: .8;
  }
  75% {
    opacity: .5;
  }
  90% {
    opacity: 0;
  }
}
