/* @import url("./layout/header.css"); */
/* @import url("./layout/footer.css"); */
@import url("./patterns/modal.css");
@import url("./patterns/buttons.css");
:root {
  /* Fonts */
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;

  /* Colors| */
  --color-blue-10: #18b2dc;
  --color-blue-20: #1282a2;
  --color-blue-30: #034078;
  --color-blue-40: #001f54;
  --color-blue-50: #0a1128;

  --color-white: #fefcfb;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  height: 100vh;
  position: relative;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}


/* Header */
.navbar {
  padding-inline: 1rem;
  min-height: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-blue-10);
  color: var(--color-white);
}
.navbar__title,
.navbar__list {
  display: inline-block;
}
/* Wraper */
.wraper {
  border: 1px solid green;
  width: 900px;
  margin: auto;
}

/* Hero */
.hero{
    border: 1px solid red ;
    height: 100px;
}


