@import url("./patterns/modal.css");
@import url("./patterns/buttons.css");

@import url("./layout/header.css");
@import url("./layout/section.css");
@import url("./layout/footer.css");
:root {
  /* Fonts */
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;

  /* Colors| */
  --color-blue-10: #18b2dc;
  --color-blue-20: #1282a2;
  --color-blue-30: #034078;
  --color-blue-40: #001f54;
  --color-blue-50: #0a1128;
  
  --color-green-10: #53d336;
  --color-green-20: #43b929;
  --color-green-30: #379721;

  --color-red-10: #cc001b;
  --color-red-20: #a30016;

  --color-gray-30: gray;

  --color-white: #fefcfb;

  --color-white: #fefcfb;
}

html {
  scroll-behavior: smooth;
}
.body {
  background-color: var(--color-white);
  margin: 0;
  height: 100vh;
  position: relative;
  display: grid;
  /* grid-template: 500px 1fr 1fr /1fr; */
  grid-template-rows: 500px 1fr minmax(200px,1fr);
  grid-template-columns: minmax(300px,1fr);
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.body--dark{
  background-color: var(--color-blue-30);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h2,h3{
  text-transform: capitalize;
}
.main{
  grid-area: main;
}
.main__content{
  /* border: 0 2px solid lightgray; */
}
/* Wraper */
.wrapper {
  min-width: 18rem;
  /* width: 300px; */
  height: 100%;
  margin: auto;
}
@media screen and (min-width:700px){
  .wrapper {
    min-width: 700px;
    max-width: 900px;
    height: 100%;
    margin: auto;
  }
}


